
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DigiFusion's Job Cards</h2>
<br />
<div>
    No Account yet? @Html.ActionLink("Register Now!", "SignUp", "Account")
</div>
